{% extends "base.html" %}
{% block content %}
<style>
    #suc{
        margin-top:100px;
        color:#007bff;
        text-align: center;
        padding: 40px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 900px; /* Adjust the maximum width as needed */
        

    }
</style>
<div class="container" id='suc'>
    <h1>Thanks for your registration our team will contact you soon</h1>
</div>
{% endblock content %}